Repository PQCA/cbomkit-theia, pull requests merged in 2025-03, with the labels that each got.

#70 Update GitHub actions
  .github/workflows/build.yml
  .github/workflows/publish_docker.yml
  .github/workflows/test.yml
  Dockerfile
Labels: github_actions

#72 Refine `private key` detection
  README.md
  cmd/root.go
  scanner/pem/pem.go
  scanner/plugins/secrets/secrets.go
  scanner/plugins/secrets/secrets_test.go
Labels: enhancement

#79 Replace `pkcs7` lib, update dependencies
  go.mod
  go.sum
  scanner/plugins/certificates/certificates.go
Labels: dependencies

#80 Remove dependency graph step
  .github/workflows/build.yml
Labels: bug, github_actions

#81 Update GitHub action to automatically set scanner release version
  .github/workflows/build.yml
  scanner/scanner.go
Labels: enhancement, github_actions

#77 Model algorithm leaf components directly in certificate parsing
  CONTRIBUTING.md
  scanner/x509/x509.go
Labels: enhancement
